@model IEnumerable<CrudCoreOklab.Models.Proveedor>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/ProductoCreate.css">
</head>

<section class="registro__section">
    <form asp-action="Create" method="get">
        <button type="submit" class="registro__boton_crear">Crear Nuevo</button>
    </form>
    <form asp-action="Index" method="get">
        <input type="text" name="searchString" placeholder="Buscar proveedor..." value="@ViewData["CurrentFilter"]" />
        <button type="submit">Buscar</button>
    </form>
    <h2 class="registro__subtitulo">Lista de Proveedores</h2>
    <div class="registro__tabla-contenedor">
        <table class="registro__tabla">
            <thead>
                <tr>
                    <th>Tipo Documento</th>
                    <th>Número Documento</th>
                    <th>Nombre</th>
                    <th>Nombre Comercial</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Forma de Pago</th>
                    <th>Banco</th>
                    <th>Número de Cuenta</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TipoDocumento.NombreTipoDocumento</td>
                        <td>@item.NumeroDocumento</td>
                        <td>@item.Nombre</td>
                        <td>@item.NombreComercial</td>
                        <td>@item.EmailProveedor</td>
                        <td>@item.Telefono</td>
                        <td>@item.Direccion</td>
                        <td>@item.FormaPago</td>
                        <td>@item.Banco</td>
                        <td>@item.NumeroCuenta</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

